name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: EmbarkStudios/cargo-deny-action@v1
      with:
        log-level: warn
        command: check licenses
        arguments: --all-features --workspace
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, macos-latest, ubuntu-20.04, windows-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Install baseview dependencies
      run: |
        sudo apt update
        sudo apt install libgl-dev libx11-xcb-dev libxcb1-dev libxcb-dri2-0-dev libxcb-icccm4-dev libxcursor-dev libxkbcommon-dev libxcb-shape0-dev libxcb-xfixes0-dev
      if: contains(matrix.os, 'ubuntu')

    # Required for bindgen on Windows, see https://github.com/rust-lang/rust-bindgen/issues/1797
    - name: Install LLVM and Clang (Windows)
      uses: KyleMayes/install-llvm-action@v1
      if: contains(matrix.os, 'windows')
      with:
        version: "14.0"
        directory: ${{ runner.temp }}/llvm

    - name: Set LIBCLANG_PATH (Windows)
      run: echo "LIBCLANG_PATH=$((gcm clang).source -replace "clang.exe")" >> $env:GITHUB_ENV
      if: contains(matrix.os, 'windows')

    - name: Setup MSVC shell (Windows)
      uses: ilammy/msvc-dev-cmd@v1
      if: contains(matrix.os, 'windows')

    - name: Install latest nightly Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          override: true

    - name: Run tests
      run: cargo +nightly test --workspace --features "simd" --verbose
    - name: Build plugin in release mode
      run: cargo +nightly build --release --features "simd" -p octasine_vst2_plugin --verbose

    - name: Display size of build artifacts
      run: ls -lh target/release
      if: contains(matrix.os, 'ubuntu') || contains(matrix.os, 'macos')
